footer {
  background-color: #1c1c1c;
  height: 75px;
  position: relative;
  .btn_to_top {
    position: absolute;
    right: 0;
    top: 40%;
    margin-right: 30px;
    i {
      font-size: 1.2rem;
      color: #fff;
    }
    i:hover {
      cursor: pointer;
    }
  }
}
