/* 06-08-2021 - Portfolio CSS */

// Small reset

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Navbar

html {
  background-color: #1c1c1c;
  font-family: MADE TOMMY;
}

nav {
  position: fixed;
  background-color: #3a3a3a;
  opacity: 1;
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: MADE TOMMY;
    font-size: 0.9rem;
    font-weight: lighter;
    color: #ffff;
    margin-left: 35px;
    li {
      margin: 10px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid #ffff;
      cursor: pointer;
    }
    @media screen and (max-width: 768px) {
      opacity: 0;
      pointer-events: none;
    }
  }
  i {
      font-size: 1.4rem;
      padding: 15px;
  }
}

.nav_transition_in {
  opacity: 0;
  transition: 0.6s ease;
  pointer-events: none;
}

.nav_transition_out {
  opacity: 1;
  transition: 0.6s ease;
}

// Hero

.hero {
  color: #ffff;
  text-align: left;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .hero_text {
    margin-left: 75px;

    h1 {
      font-size: 5rem;
      text-align: left;
    }
    h2 {
      font-size: 2.8rem;
    }
    span {
      color: red;
    }

    hr {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .hero_icons {
      font-size: 3rem;
      i {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        margin: auto;
    }
  }

  // Computer drawing in Hero Section

  .computer_drawing {
    border: 1px solid grey;
    width: 500px;
    height: 250px;
    .screen {
      background-color: #3a3a3a;
      width: 450px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      margin-bottom: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        color: #fff;
        font-size: 1.25rem;
      }
    }
    .stand {
      background-color: #ffff;
      width: 75px;
      height: 50px;
      margin: auto;
    }
    .keyboard {
      width: 375px;
      height: 80px;
      border: 1px solid grey;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      .space_bar {
        border: 1px solid #fff;
        height: 20px;
        width: 120px;
        margin-top: 30px;
      }
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
}
}

/* Section About */

.about {
  max-width: 100%;
  height: 100vh;
  margin: auto;

  .container_about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: auto;
  }

  .squares_about {
    width: 50%;
    div {
      border: 1px solid #fff;
      height: 200px;
      width: 200px;
    }
    .square_2 {
      margin-left: 150px;
      margin-top: -50px;
    }
  }

  .text_about {
    margin-left: 25px;
    width: 50%;
    h2 {
      color: #fff;
      font-size: 4rem;
      font-weight: lighter;
      color: #0044ff;
    }
    hr {
      width: 100%;
    }

    p {
      color: #fff;
      margin-top: 15px;
      width: 100%;
      text-align: justify;
      font-weight: lighter;
      line-height: 1.7rem;
    }

    .btn_about {
      width: 150px;
      height: 45px;
      background-color: transparent;
      margin-top: 35px;

      a {
        text-decoration: none;
        color: #fff;
        text-align: left;
        font-size: 0.9rem;
        font-family: Roboto;
      }
    }
  }

  .hobbies {
    h3 {
      text-align: center;
      font-size: 2.2rem;
      font-weight: lighter;
      color: #fff;
      margin-top: 75px;
      margin-bottom: 10px;
    }

    hr {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .hobbies_icons {
    text-align: center;
    padding: 15px;
    i {
      display: inline-block;
      border-radius: 60px;
      box-shadow: 0px 0px 2px #888;
      color: #fff;
      padding: 0.5em 0.6em;
      font-size: 2rem;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

/* Section Skills */

.skills_section {
  height: 100vh;
  h3 {
    color: #fff;
    font-weight: lighter;
    font-size: 2.6rem;
    text-align: center;
  }

  h4 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-family: MADE TOMMY;
    font-weight: lighter;
    font-size: 2rem;
  }

  .skills_list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  .skill {
    color: #fff;
    width: 90px;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    i {
      font-size: 3rem;
    }
  }

  .also_skills {
    color: #fff;
    text-align: center;
    ul {
      li {
        display: inline-block;
      }
    }
  }
}

/* Section Contact */

.contact_section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;

  .location {
    width: auto;
    border: 1px solid gray;
    height: 60%;
    color: #fff;
    text-align: right;
    font-variant: unset;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    h4 {
      font-size: 2rem;
      font-weight: lighter;
    }
    address {
      font-style: normal;
      margin-bottom: 15px;
      iframe {
          margin-top: 15px;
          padding-bottom: 15px;
      }
    }
  }

  .form {
    color: #fff;
    width: 40%;
    border: 1px solid gray;
    height: 500px;
    background-color: #3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;

    .infos_contact {
        margin: auto;
        hr {
            width: 80%;
            margin: auto;
        }
        p {
            width: 80%;
            text-align: center;
            margin: auto;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }

    h4 {
      text-align: right;
      font-size: 2.5rem;
      font-weight: lighter;
      padding: 12px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 12px;

      .form_field {
        margin-bottom: 25px;
        label {
          position: absolute;
        }
        input {
          position: relative;
          background-color: transparent;
          padding: 12px;
          width: 360px;
          color: #fff;
        }
      }

      .btn_submit_form {
          button {
              padding-right: 30px;
              padding-left: 30px;
              padding-top: 12px;
              padding-bottom: 12px;
              background-color: #1c1c1c;
          }
          a {
            text-decoration: none;
            color: #fff;
          }

      }
    }
  }
}

footer {
  background-color: #3a3a3a;
  height: 75px;
  position: relative;
  .btn_to_top {
    position: absolute;
    right: 0;
    top: 40%;
    margin-right: 25px;
    i {
      font-size: 1.2rem;
      color: #fff;
    }
  }
}
