/* 06-08-2021 - Portfolio CSS */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #1c1c1c;
  font-family: MADE TOMMY;
}

nav {
  position: fixed;
  background-color: #3a3a3a;
  opacity: 1;
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: MADE TOMMY;
  font-size: 0.9rem;
  font-weight: lighter;
  color: #ffff;
  margin-left: 35px;
}

nav ul li {
  margin: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ffff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav ul {
    opacity: 0;
    pointer-events: none;
  }
}

nav i {
  font-size: 1.4rem;
  padding: 15px;
}

.nav_transition_in {
  opacity: 0;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  pointer-events: none;
}

.nav_transition_out {
  opacity: 1;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.hero {
  color: #ffff;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
}

.hero .hero_text {
  margin-left: 75px;
}

.hero .hero_text h1 {
  font-size: 5rem;
  text-align: left;
}

.hero .hero_text h2 {
  font-size: 2.8rem;
}

.hero .hero_text span {
  color: red;
}

.hero .hero_text hr {
  margin-top: 25px;
  margin-bottom: 25px;
}

.hero .hero_text .hero_icons {
  font-size: 3rem;
}

.hero .hero_text .hero_icons i {
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .hero .hero_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: auto;
  }
}

.hero .computer_drawing {
  border: 1px solid grey;
  width: 500px;
  height: 250px;
}

.hero .computer_drawing .screen {
  background-color: #3a3a3a;
  width: 450px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .computer_drawing .screen span {
  color: #fff;
  font-size: 1.25rem;
}

.hero .computer_drawing .stand {
  background-color: #ffff;
  width: 75px;
  height: 50px;
  margin: auto;
}

.hero .computer_drawing .keyboard {
  width: 375px;
  height: 80px;
  border: 1px solid grey;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .computer_drawing .keyboard .space_bar {
  border: 1px solid #fff;
  height: 20px;
  width: 120px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .hero .computer_drawing {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    width: 100%;
  }
}

/* Section About */
.about {
  max-width: 100%;
  height: 100vh;
  margin: auto;
}

.about .container_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: auto;
}

.about .squares_about {
  width: 50%;
}

.about .squares_about div {
  border: 1px solid #fff;
  height: 200px;
  width: 200px;
}

.about .squares_about .square_2 {
  margin-left: 150px;
  margin-top: -50px;
}

.about .text_about {
  margin-left: 25px;
  width: 50%;
}

.about .text_about h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: lighter;
  color: #0044ff;
}

.about .text_about hr {
  width: 100%;
}

.about .text_about p {
  color: #fff;
  margin-top: 15px;
  width: 100%;
  text-align: justify;
  font-weight: lighter;
  line-height: 1.7rem;
}

.about .text_about .btn_about {
  width: 150px;
  height: 45px;
  background-color: transparent;
  margin-top: 35px;
}

.about .text_about .btn_about a {
  text-decoration: none;
  color: #fff;
  text-align: left;
  font-size: 0.9rem;
  font-family: Roboto;
}

.about .hobbies h3 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: lighter;
  color: #fff;
  margin-top: 75px;
  margin-bottom: 10px;
}

.about .hobbies hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.about .hobbies_icons {
  text-align: center;
  padding: 15px;
}

.about .hobbies_icons i {
  display: inline-block;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 2px #888;
          box-shadow: 0px 0px 2px #888;
  color: #fff;
  padding: 0.5em 0.6em;
  font-size: 2rem;
  margin-left: 15px;
  margin-right: 15px;
}

/* Section Skills */
.skills_section {
  height: 100vh;
}

.skills_section h3 {
  color: #fff;
  font-weight: lighter;
  font-size: 2.6rem;
  text-align: center;
}

.skills_section h4 {
  color: #fff;
  text-align: center;
  margin-top: 50px;
  font-family: MADE TOMMY;
  font-weight: lighter;
  font-size: 2rem;
}

.skills_section .skills_list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills_section .skill {
  color: #fff;
  width: 90px;
  margin-right: 25px;
  margin-left: 25px;
  text-align: center;
}

.skills_section .skill i {
  font-size: 3rem;
}

.skills_section .also_skills {
  color: #fff;
  text-align: center;
}

.skills_section .also_skills ul li {
  display: inline-block;
}

/* Section Contact */
.contact_section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.contact_section .location {
  width: auto;
  border: 1px solid gray;
  height: 60%;
  color: #fff;
  text-align: right;
  font-variant: unset;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.contact_section .location h4 {
  font-size: 2rem;
  font-weight: lighter;
}

.contact_section .location address {
  font-style: normal;
  margin-bottom: 15px;
}

.contact_section .location address iframe {
  margin-top: 15px;
  padding-bottom: 15px;
}

.contact_section .form {
  color: #fff;
  width: 40%;
  border: 1px solid gray;
  height: 500px;
  background-color: #3a3a3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section .form .infos_contact {
  margin: auto;
}

.contact_section .form .infos_contact hr {
  width: 80%;
  margin: auto;
}

.contact_section .form .infos_contact p {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contact_section .form h4 {
  text-align: right;
  font-size: 2.5rem;
  font-weight: lighter;
  padding: 12px;
}

.contact_section .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 12px;
}

.contact_section .form form .form_field {
  margin-bottom: 25px;
}

.contact_section .form form .form_field label {
  position: absolute;
}

.contact_section .form form .form_field input {
  position: relative;
  background-color: transparent;
  padding: 12px;
  width: 360px;
  color: #fff;
}

.contact_section .form form .btn_submit_form button {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #1c1c1c;
}

.contact_section .form form .btn_submit_form a {
  text-decoration: none;
  color: #fff;
}

footer {
  background-color: #3a3a3a;
  height: 75px;
  position: relative;
}

footer .btn_to_top {
  position: absolute;
  right: 0;
  top: 40%;
  margin-right: 25px;
}

footer .btn_to_top i {
  font-size: 1.2rem;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */