/* 06-08-2021 - Portfolio CSS */

// Small reset

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  a {
    color: inherit;
    text-decoration: none;
  }
}

html {
  font-family: 'MADE TOMMY';
  scroll-behavior: smooth;
  //--res: calc(0.01 * 10vmin);
}

body {
  background-color: #1c1c1c;
}

// Utilities CSS 
@import url('./partials/utilities/utilities.css');

// Navbar CSS 
@import url('./partials/navbar/navbar.css');

// Side Menu CSS 
@import url('./partials/side_menu/side_menu.css');

// Hero Section CSS
@import url('./partials/hero/hero.css');

// About Section CSS
@import url('./partials/about/about.css');

// Skills Section CSS
@import url('./partials/skills/skills.css');

// Contact Section CSS
@import url('./partials/contact/contact.css');

// Footer
@import url('./partials/footer/footer.css');

// Light Theme CSS
@import url('./partials/light_mode/light_mode.css');


