/* 06-08-2021 - Portfolio CSS */

// Small reset

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #1c1c1c;
  font-family: MADE TOMMY;
}

// Navbar CSS 
@import url('./partials/navbar/navbar.css');

// Hero Section CSS
@import url('./partials/hero/hero.css');

// About Section CSS
@import url('./partials/about/about.css');

// Skills Section CSS
@import url('./partials/skills/skills.css');

// Contact Section CSS
@import url('./partials/contact/contact.css');

// Footer
@import url('./partials/footer/footer.css');


