@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
.about {
  max-width: 100%;
  height: 100%;
  margin: auto;
  padding-bottom: 300px;
}

.about .container_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 1080px) {
  .about .container_about {
    width: 100%;
  }
}

@media screen and (max-width: 1444px) {
  .about .container_about {
    width: 80%;
  }
}

.about .smartphone_container .smartphone_drawing {
  border: 1px solid #fff;
  border-radius: 15px;
  height: 500px;
  width: 225px;
  position: relative;
}

.about .smartphone_container .smartphone_drawing .camera {
  border: 1px solid #fff;
  height: 20px;
  width: 80px;
  margin: auto;
  border-radius: 5px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .smartphone_container .smartphone_drawing .camera .lens {
  height: 12px;
  width: 12px;
  border: 1px solid #fff;
  border-radius: 15px;
  margin: auto;
}

.about .smartphone_container .smartphone_drawing .smartphone_button {
  border: 3px solid #fff;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 3%;
  left: 40%;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .smartphone_container .smartphone_drawing .smartphone_button .inlay {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 60px;
}

@media screen and (max-width: 1000px) {
  .about .smartphone_container {
    display: none;
  }
}

@media screen and (max-width: 1444px) {
  .about .smartphone_container {
    width: 80%;
  }
}

.about .text_about {
  margin-left: 25px;
  width: 50%;
}

.about .text_about h2 {
  color: #fff;
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: lighter;
  color: #0044ff;
}

.about .text_about hr {
  width: 100%;
}

.about .text_about p {
  color: #fff;
  margin-top: 15px;
  width: 100%;
  text-align: justify;
  line-height: 1.7rem;
  font-size: 0.9rem;
  font-family: OPEN SANS, sans-serif;
}

.about .text_about .btn_about {
  width: 150px;
  height: 45px;
  background-color: transparent;
  margin-top: 35px;
  border: 1px solid grey;
  margin-left: 0;
}

.about .text_about .btn_about a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-family: Roboto;
}

@media screen and (max-width: 1444px) {
  .about .text_about {
    margin-left: 0;
    width: 80%;
  }
}

.about .hobbies h3 {
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 2.2rem);
  font-weight: lighter;
  color: #fff;
  margin-top: 75px;
  margin-bottom: 10px;
}

.about .hobbies hr {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .about .hobbies hr {
    width: 60%;
  }
}

.about .hobbies_icons {
  text-align: center;
  padding: 15px;
}

.about .hobbies_icons i {
  display: inline-block;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 2px #888;
          box-shadow: 0px 0px 2px #888;
  color: #fff;
  padding: 0.5em;
  font-size: 2rem;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .about .hobbies_icons i {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=about.css.map */