@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

.about {
  max-width: 100%;
  height: 100%;
  margin: auto;
  padding-bottom: 300px;

  .container_about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: auto;
    @media screen and (max-width: 1080px) {
      width: 100%;
    }
    @media screen and (max-width: 1444px) {
      width: 80%;
    }
  }

  .smartphone_container {
    .smartphone_drawing {
      border: 1px solid #fff;
      border-radius: 15px;
      height: 500px;
      width: 225px;
      position: relative;
      .camera {
        border: 1px solid #fff;
        height: 20px;
        width: 80px;
        margin: auto;
        border-radius: 5px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        .lens {
          height: 12px;
          width: 12px;
          border: 1px solid #fff;
          border-radius: 15px;
          margin: auto;
        }
      }
      .smartphone_button {
        border: 3px solid #fff;
        height: 50px;
        width: 50px;
        position: absolute;
        bottom: 3%;
        left: 40%;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        .inlay {
          height: 40px;
          width: 40px;
          background-color: #fff;
          border-radius: 60px;
        }
      }
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
    @media screen and (max-width: 1444px) {
      width: 80%;
    }
  }

  .text_about {
    margin-left: 25px;
    width: 50%;
    h2 {
      color: #fff;
      font-size: clamp(2rem, 5vw, 4rem);
      font-weight: lighter;
      color: #0044ff;
    }
    hr {
      width: 100%;
    }

    p {
      color: #fff;
      margin-top: 15px;
      width: 100%;
      text-align: justify;
      line-height: 1.7rem;
      font-size: 0.9rem;
      font-family: OPEN SANS, sans-serif;
    }

    .btn_about {
      width: 150px;
      height: 45px;
      background-color: transparent;
      margin-top: 35px;
      border: 1px solid grey;
      margin-left: 0;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 0.9rem;
        font-family: Roboto;
      }
    }
    @media screen and (max-width: 1444px) {
      margin-left: 0;
      width: 80%;
    }
  }

  .hobbies {
    h3 {
      text-align: center;
      font-size: clamp(1.5rem, 5vw, 2.2rem);
      font-weight: lighter;
      color: #fff;
      margin-top: 75px;
      margin-bottom: 10px;
    }

    hr {
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      @media screen and (max-width: 768px) {
        width: 60%;
      }
    }
  }

  .hobbies_icons {
    text-align: center;
    padding: 15px;
    i {
      display: inline-block;
      border-radius: 60px;
      box-shadow: 0px 0px 2px #888;
      color: #fff;
      padding: 0.5em;
      font-size: 2rem;
      margin-left: 15px;
      margin-right: 15px;
      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
      }
    }
  }
}
