.light_theme {
  transition: 0.5s all ease-in-out;
  background-color: #eeeeee;

  nav {
    background-color: #1c1c1c;
    ul i {
      color: #fff;
    }
  }

  .btn_nav {
    color: #fff;
  }

  .hero {
    color: #1c1c1c;
  }

  .computer_drawing {
    .stand {
      background-color: #1c1c1c;
    }
    .space_bar {
      background-color: #1c1c1c;
    }
  }

  .squares_about {
    div {
      border-color: #1c1c1c;
    }
  }

  .text_about {
    p {
      color: #1c1c1c;
    }

    .btn_about {
      a {
        color: #1c1c1c;
      }
    }

    .btn_about:hover {
      a {
        color: #fff;
      }
    }
  }

  .hobbies {
    h3 {
      color: #1c1c1c;
    }
    i {
      color: #1c1c1c;
    }
  }

  .skills_text {
    color: #1c1c1c;
  }

  .skill {
    i {
      color: #1c1c1c;
    }
    p {
      color: #1c1c1c;
    }
  }

  .also_skills {
    color: #1c1c1c;
  }

  .contact_infos {
    color: #1c1c1c;
  }
}
